
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: rem;
  display:flexbox;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 186, 24);
  box-shadow: 1px 1px 2px 1px #808080;
}
h2 {
  font-size: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  color: blue;
  background-color: lightblue;
  border-style: solid;
  width: 200px;
  height: 200;
  padding: 25px;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}


